<div>
  <nav class="navbar navbar-dark navbar-top bg-dark cl-nav">
    <div class="col-sm-1 home-btn">
      <a href="/table/courses"><input type="image" src="../../../assets/images/back.svg"/></a>
    </div>
    <div class="col-sm-10">
      <h3 class="title-nav">Course Viewer for {{course.title}}</h3>
    </div>
  </nav>

  <div class="row">
    <div class="col-sm-4">
      <app-module-list></app-module-list>
    </div>
    <div class="col-sm-8">
      <app-lesson-tabs></app-lesson-tabs>
    </div>
  </div>
</div>
