/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url("src/assets/images/tsconfig.png");
  background-size: cover;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
}

body,
html {
  height: 100%;
}
