/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body {
  background-image: url("src/assets/images/tsconfig.png");
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
  background-repeat: repeat;
  /* Center and scale the image nicely */
  background-position: center;
  overflow: inherit;
}

body,
html {
  height: 100%;
}
